#content {
  width: 100%;
  padding: 10px;
  /* min-height: 100vh; */
  /* transition: all 0.3s; */
}

.wrapper {
  display: flex;
  width: 100%;
  /* align-items: stretch; */
  background: #c5cffa;
}
