
 
.wrap-all-the-things {

    min-height: 75vh;
    height: 100%;
    width: 100%;
    padding-left: 73px;
    margin-top: 0;
    transition: transform 400ms, opacity 400ms;
  }
  @media screen and (max: 480px) {
    .wrap-all-the-things {
      padding-left: 53px;
    }
  }

  
  input[type="file"] {
    display: none;
  }
  
  #btn-post {
    min-width: 25%;
    max-width: 25%;
    background-color: rgb(25, 118, 124);
    font-weight: 600;
  }
  
  #upload_image_button {
    position: absolute;
    top: 40%;
    right: 5%;
    background-color: rgb(25, 118, 124);
    font-weight: 500;
  }

  #upload_image_button1 {
    position: absolute;
    top: 40%;
    right: 5%;
    background-color: rgb(25, 118, 124);
  }

/*   
  .img-fluid {
    width: 75%;
    height:60%;
  } */

  .card-img-top {
    width: 85%;
    height: 30vw;
    object-fit: cover;
  }
  /* .wrapper
  {
    padding:4% 5%;
  } */

  @media (max-width:768px)
  {
    .card-img-top{
      height:50vw;
      width: 80%;
    }
  }