#fixed-navbar
{
    background-color: rgb(133,73,167);
    font-weight: 500;
    z-index: 0;
}

#buttonsearch
{
    background-color: white;
    color: rgb(133,73,167);
    font-weight: bolder;
}

#buttonsearch:hover
{
    background-color: rgb(222,183,255);
    color:black;
}

.navbar-brand
{
    margin-left: 15%;
    padding:0;
}