#fixed-navbar
{
   
    font-weight: 500;
    z-index: 0;
}

#buttonsearch
{
    background-color: white;
    color: rgb(25, 118, 124);
    font-weight: bolder;
}

#buttonsearch:hover
{
    background-color: rgb(130, 194, 197);
    color:black;
}

.navbar-brand
{
    margin-left: 15%;
    padding:0;
}